<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Kitten API", root_path, id: "logo" %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Kittens", root_path %></li>
        <li><%= link_to "Create a Kitten", new_kitten_path %></li>
      </ul>
  </div>
</nav>